<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Meta for SEO -->
        {{#if page.description }}
            <meta content="{{ page.description }}" name="description">
        {{else}}
            <meta content="{{ site.seo_description }}" name="description">
        {{/if}}

        <!-- Theme Styles -->
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/theme.css">
        <link rel="stylesheet" href="/css/base.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic%7COswald:200,300,400,500,600,700%7CPoppins:regular,600%7CManrope:300,regular,500,700" media="all">
        <script type="text/javascript">
            WebFont.load({
                google: {
                    families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic","Oswald:200,300,400,500,600,700","Poppins:regular,600","Manrope:300,regular,500,700"]
                }
            });
        </script>

        <link href="images/favicon.jpg" rel="shortcut icon" type="image/x-icon">
        <link href="images/webclip.jpg" rel="apple-touch-icon">
        {{!-- <link rel="canonical" href="https://example.com/dresses/green-dresses" /> --}}

        {{#if page.title }}
            <title>{{ page.title }} | {{ site.name }}</title>
        {{else}}
            <title>{{ site.seo_title }} | {{ site.name }}</title>
        {{/if}}
    </head>
    <body>
        <nav role="navigation" class="header top-nav">
            <div class="base-container">
                <div class="top-nav__wrapper">
                    <a href="/" class="top-nav__logo">
                        <img 
                            src="/images/Broward-256-×-256-px-256-×-80-px-1.png" 
                            alt="{{ site.name }} logo"
                            width="auto"
                            height="auto"
                        />
                    </a>
                    <div class="top-nav__button">
                        <div class="line1"></div>
                        <div class="line2"></div>
                        <div class="line3"></div>
                    </div>
                    <ul class="top-nav__links">
                        {{#each menus.main_menu }}
                            {{#if this.links}}
                                <li class="top-nav__dropdown-container">
                                    <div class="flex items-center">
                                        <a href="{{ this.url }}">{{ this.title }}</a>
                                        <div class="arrow-bottom-drop"></div>
                                    </div>
                                    <div class="top-nav__dropdown">
                                        {{#each this.links}}
                                            <a href="{{ this.url }}" class="top-nav__dropdown-link" tabindex="0">
                                                <span></span>
                                                {{ this.title }}
                                            </a>
                                        {{/each}}
                                    </div>
                                </li>
                            {{else}}
                                <li class="flex items-center">
                                    <a href="{{ this.url }}">{{ this.title }}</a>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>
                    <div class="top-nav__cta">
                        <a class="button button-primary" href="tel:{{ site.phone_number }}">
                            {{ site.phone_number }}
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        {{{body}}}

        <a href="tel:{{ site.phone_number }}" class="phone-icon-cta">
            <img 
                src="https://uploads-ssl.webflow.com/64436db9e250ac2b29ff3811/64533efaf473eefc56dc24c7_64503a7708b85659341618cf_Phone-icon-big-white.png" 
                loading="lazy" 
                alt="phone icon"
            />
        </a>

        <script src="/js/main.js"></script>
    </body>
</html>