 <div class="section-heading banner-blog-classic wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="banner-slider-container none-padding-bottom">
        <h1 class="heading-section-banner">Our <span class="heading-text-span">Pages</span></h1>
      </div>
    </div>
  </div>
  <div class="section blog-sidebar wf-section">
    <div class="base-container w-container">
      <div class="blog-sidebar-wrapper" style="width: 100%;">
        <div data-w-id="el_scroll_into_view" style="opacity:0" class="blog-sidebar-left-wrapper">
          <div class="w-dyn-list">
            <div role="list" class="blog-sidebar-left w-dyn-items">
                {{#each pagesCMS}}
                    <div role="listitem" class="blog-sidebar-item w-dyn-item">
                        <article>
                            <a href="/pages/{{ this.slug }}" class="blog-sidebar-post-image-link w-inline-block">
                                <img
                                    src="https://res.cloudinary.com/wilki-digital-cloudinary/image/upload/v1691184217/{{ this.main_image }}"
                                    loading="lazy" 
                                    alt="{{ this.name }}" 
                                    class="blog-sidebar-post-image"
                                >
                            </a>
                            <div class="blog-sidebar-post-content">
                                <a href="{{ this.slug }}" class="w-inline-block">
                                    <h4 class="blog-post-title">{{ this.name }}</h4>
                                </a>
                                <p class="paragraph-2">{{ this.description }}</p>
                            </div>
                        </article>
                    </div>
                {{/each}}
            </div>
          </div>
        </div>
        <div class="blog-sidebar-right-wrapper">
          <div class="blog-sidebar-right">
            <div data-w-id="el_scroll_into_view" style="opacity:0" class="sidebar-recent-posts">
              <h4>Recent Pages</h4>
              <div class="sidebar-recent-posts-wrapper w-dyn-list">
                <div role="list" class="w-dyn-items">
                    <div role="listitem" class="sidebar-recent-post-item w-dyn-item">
                        <article>
                            <a href="/pages/{{ pagesCMS.[0].slug }}" class="sidebar-recent-post w-inline-block">
                                <div class="image-block-resent-post">
                                    <img 
                                        src="https://res.cloudinary.com/wilki-digital-cloudinary/image/upload/v1691184217/{{ pagesCMS.[0].main_image }}"
                                        loading="lazy" 
                                        alt="{{ pagesCMS.[0].name }}" 
                                        class="sidebar-recent-post-image"
                                    >
                                </div>
                                <div class="div-block">
                                    <h6 class="blog-recent-post-title">{{ pagesCMS.[0].name }}</h6>
                                    <p class="blog-recent-post-date">{{ pagesCMS.[0].date }}</p>
                                </div>
                            </a>
                        </article>
                    </div>
                    {{#if pagesCMS.[1]}}
                        <div role="listitem" class="sidebar-recent-post-item w-dyn-item">
                            <article>
                                <a href="/pages/{{ pagesCMS.[1].slug }}" class="sidebar-recent-post w-inline-block">
                                    <div class="image-block-resent-post">
                                        <img 
                                            src="https://res.cloudinary.com/wilki-digital-cloudinary/image/upload/v1691184217/{{ pagesCMS.[1].main_image }}"
                                            loading="lazy" 
                                            alt="{{ pagesCMS.[1].name }}" 
                                            class="sidebar-recent-post-image"
                                        >
                                    </div>
                                    <div class="div-block">
                                        <h6 class="blog-recent-post-title">{{ pagesCMS.[1].name }}</h6>
                                        <p class="blog-recent-post-date">{{ pagesCMS.[1].date }}</p>
                                    </div>
                                </a>
                            </article>
                        </div>
                    {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>