<div class="section services-details wf-section">
    <div class="background-image-block">
      <div class="banner-color"></div>
      <img 
        src="https://res.cloudinary.com/wilki-digital-cloudinary/image/upload/v1691184217/{{pageCMS.main_image}}" 
        loading="lazy" 
        alt="{{ pageCMS.name }} main image" 
        class="banner-image"
    >
    </div>
    <div class="large-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="banner-slider-container">
        <h1 class="heading-section-banner">{{ pageCMS.name }}</h1>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container services-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="service-details-content">
        <div class="service-details-content-wrapper">
          <div class="rich-text-services w-richtext">
            {{{ pageCMS.body }}}
          </div>
        </div>
      </div>
      <div class="div-block-5">
        <div class="div-block-6">
          <h2 class="heading">We&#x27;re Tree Experts</h2>
          <p class="paragraph-3">We can help you with all of your tree service needs. We have years of expertise and affordable prices to better serve your family or business.</p>
          <a href="tel:{{ site.phone_number }}" class="secondary-button button-full">Click to call now</a>
        </div>
        <h3 class="heading-3">Our Services</h3>
        <a href="/pages/tree-trimming" class="link-2">Tree Trimming</a>
        <a href="/pages/tree-removal" class="link-3">Tree Removal</a>
        <a href="/cost-calculator" class="link-4">Cost Calculator</a>
      </div>
    </div>
  </div>
  <div class="section none-padding">
    <div class="base-container w-container">
      <div class="section-content">
        <div class="section-title-right">
          <h2 id="provide-assistance" data-w-id="el_scroll_into_view" style="opacity:0" class="heading-span margin-bottom-heading">Tree Removal and Trimming in Hollywood, Florida.</h2>
          <div data-w-id="el_scroll_into_view" style="opacity:0" class="paragraph-large">We offer tree removal &amp; trimming services in South Florida. We are all licensed &amp; insured with a great personable crew that has an unmatched work ethic. We provide will be high quality tree service whether it&#x27;s taking down difficult 100 ft trees, emergency tree removal at rapid pace, tree cutting over power lines, and much more. <br><br>We&#x27;re committed to giving you best tree care in South Florida: Hollywood, Davie, Sunrise, Southwest Ranches, and Plantation.</div>
          <a data-w-id="el_scroll_into_view" style="opacity:0" href="tel:{{ site.phone_number }}" class="primary-button margin-top-50px w-button">Call Us Now</a><img src="/images/Arrow_05-1.png" loading="lazy" alt="" class="image-arrow-absolute">
        </div>
        <div data-w-id="el_scroll_into_view" style="opacity:0" class="section-image-left"><img src="/images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000.jpeg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 45vw, 550px" srcset="/images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-500.jpeg 500w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-800.jpeg 800w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-1080.jpeg 1080w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000-p-1600.jpeg 1600w, /images/6434d4d60ef5844aaf110a02_63af742f8f22089e6de21e38_laron-rosser-Dn_KGNk2IoY-unsplash-p-2000.jpeg 2000w" alt="" class="image-section-left">
          <div class="text-absolute">We Can Help You!</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" class="free-trial-wrapper">
        <h2 id="provide-assistance" class="heading-span margin-bottom">Your Trees Need a Bit of Love? <span class="heading-text-span color-green">We can help!</span></h2>
        <a href="tel:{{ site.phone_number }}" class="primary-button">Click to call now</a>
      </div>
    </div>
  </div>
</div>