<div class="section services-details wf-section">
    <div class="background-image-block">
      <div class="banner-color"></div>
      <img 
        src="https://res.cloudinary.com/wilki-digital-cloudinary/image/upload/v1691184217/{{service.main_image}}" 
        loading="lazy" 
        alt="{{ service.name }} main image" 
        class="banner-image"
    >
    </div>
    <div class="large-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="banner-slider-container">
        <h1 class="heading-section-banner">{{ service.name }}</h1>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container services-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="service-details-content">
        <div class="service-details-content-wrapper">
          <div class="rich-text-services w-richtext">
            {{{ service.body }}}
          </div>
        </div>
      </div>
      <div class="div-block-5">
        <div class="div-block-6">
          <h2 class="heading">We&#x27;re Tree Experts</h2>
          <p class="paragraph-3">We can help you with all of your tree service needs. We have years of expertise and affordable prices to better serve your family or business.</p>
          <a href="tel:{{ site.phone_number }}" class="secondary-button button-full">Get A Free Quote</a>
        </div>
        <h3 class="heading-3">More Services</h3>
        <a href="/services/tree-trimming" class="link-2">Tree Trimming</a>
        <a href="/services/tree-removal" class="link-3">Tree Removal</a>
        <a href="/cost-calculator" class="link-4">Cost Calculator</a>
      </div>
    </div>
  </div>
  <div class="section spacing-image-block wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="image-block-services">
        <div id="w-node-ebca76f6-f35b-4894-0a3b-eda256efe2d9-faff3890" class="image-block">
            <img src="/images/tree-services-1.jpeg" loading="lazy" alt="image of {{ service.name }}" class="image-01">
        </div>
        <div class="image-block centered-block">
            <img src="/images/tree-services-2.jpeg" loading="lazy" alt="image of {{ service.name }}" class="image-02">
        </div>
        <div id="w-node-ebca76f6-f35b-4894-0a3b-eda256efe2dd-faff3890" class="image-block">
            <img src="/images/tree-services-3.jpeg" loading="lazy" alt="image of {{ service.name }}" class="image-03">
        </div>
      </div>
    </div>
  </div>
  <div class="section wf-section">
    <div class="base-container w-container">
      <div data-w-id="el_scroll_into_view" class="free-trial-wrapper">
        <h2 id="provide-assistance" class="heading-span margin-bottom">Your Trees Need a Bit of Love? <span class="heading-text-span color-green">We can help!</span></h2>
        <a href="tel:{{ site.phone_number }}" class="primary-button">Click to call now</a>
      </div>
    </div>
  </div>
  <div class="section none-padding wf-section">
    <div data-w-id="el_scroll_into_view" style="opacity:0" class="large-container display-flex w-container">
      <div class="background-slider"></div>
      <div class="slider-block-content">
        <div data-delay="4000" data-animation="slide" class="slider-block w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="4" data-duration="500" data-infinite="true">
          <div class="mask-slider w-slider-mask">
            <div data-w-id="el_scroll_into_view" class="slide-01 w-slide">
              <div class="slide-content-wrapper">
                <div class="image-slider"><img src="/images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 37vw, 438.9765625px" srcset="/images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1-p-500.jpg 500w, /images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1-p-800.jpg 800w, /images/look-up-look-down-photography--o7ASOHDV9E-unsplash-1.jpg 900w" alt="tree services" class="image-absolute"></div>
                <div class="slide-content-block">
                  <h2 class="heading-slide">&quot;Save yourself time, money and worry. They&#x27;ve got your back!&quot;</h2>
                  <div class="testimonial-customer"><strong>Mary Becker</strong> - Valued customer</div>
                  <a href="tel:{{ site.phone_number }}" class="link-underline white-color">Call Now</a>
                </div>
              </div>
            </div>
            <div data-w-id="el_scroll_into_view" class="slide-02 w-slide">
              <div class="slide-content-wrapper">
                <div class="image-slider"><img src="/images/dakota-lim-n_2DimPwbEk-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 37vw, 438.9765625px" srcset="/images/dakota-lim-n_2DimPwbEk-unsplash-1-p-500.jpg 500w, /images/dakota-lim-n_2DimPwbEk-unsplash-1-p-800.jpg 800w, /images/dakota-lim-n_2DimPwbEk-unsplash-1.jpg 900w" alt="tree services" class="image-absolute"></div>
                <div class="slide-content-block">
                  <h2 class="heading-slide">&quot;They&#x27;re hard-working honest professionals.&quot;</h2>
                  <div class="testimonial-customer"><strong>Tom Triffer</strong> - Valued customer</div>
                  <a href="tel:{{ site.phone_number }}" class="link-underline white-color">Call Now</a>
                </div>
              </div>
            </div>
            <div data-w-id="el_scroll_into_view" class="slide-03 w-slide">
              <div class="slide-content-wrapper">
                <div class="image-slider"><img src="/images/shaun-montero-ZxDX8D9HHNM-unsplash-1.jpg" loading="lazy" width="532" sizes="(max-width: 479px) 100vw, (max-width: 767px) 96vw, (max-width: 991px) 97vw, (max-width: 1279px) 37vw, 438.9765625px" srcset="/images/shaun-montero-ZxDX8D9HHNM-unsplash-1-p-500.jpg 500w, /images/shaun-montero-ZxDX8D9HHNM-unsplash-1-p-800.jpg 800w, /images/shaun-montero-ZxDX8D9HHNM-unsplash-1.jpg 900w" alt="tree services" class="image-absolute"></div>
                <div class="slide-content-block">
                  <h2 class="heading-slide">&quot;Great and friendly service at a very good price.&quot;</h2>
                  <div class="testimonial-customer"><strong>Julia Rowler</strong> - Valued customer</div>
                  <a href="tel:{{ site.phone_number }}" class="link-underline white-color">Call Now</a>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-left-arrow w-slider-arrow-left">
            <div class="left-arrow-slider"></div>
          </div>
          <div class="banner-right-arrow w-slider-arrow-right">
            <div class="right-arrow-slider"></div>
          </div>
          <div class="slider-nav-active-wrapper slider-garden">
            <div class="slider-nav-active-item slider-home"></div>
          </div>
          <div class="slide-nav-block w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="base-container w-container">
      <div class="section-title-wrapper max-w-730px">
        <h2 id="provide-assistance" data-w-id="el_scroll_into_view" style="opacity:0" class="heading-span">The Best Tree Services Company In South Florida.</h2>
      </div>
      <div data-w-id="el_scroll_into_view" style="opacity:0" class="w-layout-grid grid-content home-2">
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d44f2-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">1</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Quality Service</h4>
            <p class="paragraph">Our tree care and service is top notch! Give us a try.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d44fb-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">2</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Licensed and Insured</h4>
            <p class="paragraph">We offer a business you can trust, giving you reassurance and ease of mind.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d4504-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">3</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Satisfied Customers</h4>
            <p class="paragraph">We have  one of the best reputations in the tree services business.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d450d-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">4</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Responsiveness</h4>
            <p class="paragraph">We attend your needs and follow up – always in a timely manner.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d4516-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">5</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Trusted</h4>
            <p class="paragraph">A community pillar, we are a trusted name in the industry.</p>
          </div>
        </div>
        <div id="w-node-_20858e8b-26ef-09b3-381c-16076b4d451f-99ff38c2" class="content-block home-2">
          <div class="image-block-content margin">
            <div class="number-content-block">6</div>
          </div>
          <div class="title-subtitle-content">
            <h4 class="heading-grid-content">Experience</h4>
            <p class="paragraph">Countless years of experience gives us an understanding like no other.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>